.drop1{
    padding-right: 20px;
}

.drop2{
    padding-right:3.5%;
    float:left;
}

.drop3{
    width:20px;
    margin-right:-20px;
    float:left;
}

.custom-your-card{
    display: flex;
    flex-direction: row;
}

.custom-your-card2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.custom-your-card-item1{
    width: 55%;
    padding-right: 16px;
}

.custom-your-card-item2{
    width: 45%;
}

.w-full{
    width: 100%;
}

.w-25{
    width: 56% !important;
}

.custom-text{
    color:#2f5d6d;
    font-weight: 600;
}